@model Loja.Core.Models.Carrinho
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3>Pedido recebido com sucesso: @Guid.NewGuid()</h3>

    <ul>
        @foreach (var item in Model.Itens)
        {
            <li>@item.Produto.Nome <small>@item.Produto.Preco x @item.Quantidade</small> </li>
        }
    </ul>

    <div>Total: R$ @Model.Itens.Sum(c => c.Produto.Preco * c.Quantidade)</div>
</div>